<select name="COE" class="custom-select d-block w-100">
  <option value="">Choose...</option>
  <option>Additive Manufacturing</option>
  <option>Data-Driven Internet of Things</option>
  <option>Integrated Circuits</option>
  <option>Intelligent Energy Systems</option>
  <option>Intelligent Human Computer Interaction</option>
  <option>Machine Intelligence and Bigdata</option>
  <option>Material Sciences</option>
  <option>Metallurgical Engineering</option>
  <option>Natural Resource Management</option>
  <option>Sensors and Nanoelectronics</option>
  <option>Signal Processing</option>
  <option>Financial Markets</option>
  <option>Intelligent Robotics System</option>
  <option>Embedded System</option>
  <option>Modeling of Dynamic Systems</option>
</select>
