<nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);border:10px #008080"></a>
<header id="stuModule-text"><B>STUDENT MODULE</B></header>
<ul class="list-unstyled components mb-5">
  <li class>
    <a href="/students/awards">Awards & Achievements</a>
  </li>
  <li>
    <a href="/students/eventsAttended">Events Attended</a>
    </li>
  
  <li>
  <a href="/students/placement">Placement</a>
  </li>
   </ul>
</div>
</nav>