<%- include('partials/header.ejs') %>
<div class="wrapper d-flex align-items-stretch">

    <!-- Side Panel -->
    <%- include('partials/side-panel.ejs') %>

    <!-- Page Content -->
    <div id="content" class="p-4 p-md-5">

        <!-- Nav Bar -->

        <%- include('partials/top-nav.ejs') %>

        <!-- Data Entry -->

        <section id="form">

            <form action="/faculty/search" id="facultyReport" method="post">
                <!-- <form actionid="studentReport" class="needs-validation" novalidate=""> -->
                <div class="container-fluid">
                    <h4 class="mb-3">Faculty Report</h4>
                    <div class="row data-row">
                        <!-- <div class="col-md-6 mb-3">
                            <label for="Event">Select Event</label>
                            <select class="custom-select d-block w-100" name="fltrEType">
                                <option value="">Choose...</option>
                                <option value="Conference">Conference</option>
                                <option value="Expert Lecture">Expert Lecture</option>
                                <option value="FDP">FDP</option>
                                <option value="Guest Lecture">Guest Lecture</option>
                                <option value="Industry visit">Industry visit</option>
                                <option value="NCC">NCC</option>
                                <option value="NSS">NSS</option>
                                <option value="Placement Talk">Placement Talk</option>
                                <option value="Seminars">Seminars</option>
                                <option value="Webinars">Webinars</option>
                                <option value="Symposium">Symposium</option>
                                <option value="Training Programme">Training Programme</option>
                                <option value="Workshop">Workshop</option>
                                <option value="Invited Talk">Invited Talk</option>
                                <option value="others">Others</option>
                            </select>
                        </div> -->

                        <div class="col-md-12 mb-3">
                            <label>Event</label>
                            <select class="custom-select d-block w-100" name="fltrAddedBy">
                                <option value="">Choose...</option>
                                <option value="all">All</option>
                                <option value="awards">Awards & Achievements</option>
                                <option value="events">Events Attended</option>
                                <option value="ClubActivitiy">Club Activities</option>
                            </select>
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="col-md-6 mb-3">
                            <label for="startDate">From Date</label>
                            <input type="date" name="fltrSDate" class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="startDate">To Date</label>
                            <input type="date" name="fltrEDate" class="form-control">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="col-md-6 mb-3">
                            <label for="detailsReq">Details Required</label>
                            <select class="custom-select d-block w-100" name="fltrAddedBy">
                                <option value="">Choose...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="department">Departments</label>
                            <select class="custom-select d-block w-100" name="fltrDepartment">
                                <option value="">Choose...</option>
                                <option value="all">All</option>
                                <option value="cse">CSE</option>
                                <option value="ise">ISE</option>
                                <option value="ece">ECE</option>
                                <option value="mech">MECH</option>
                                <option value="civ">CIVIL</option>
                                <option value="tce">TCE</option>
                                <option value="mba">MBA</option>
                                <option value="mca">MCA</option>
                                <option value="ise">BASIC SCIENCE</option>
                            </select>
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="col-md-12 mb-3">
                            <label for="coe">COE</label>
                            <select class="custom-select d-block w-100" name="fltrCOE">
                                <option value="">Choose...</option>
                                <option value="Additive Manufacturing">Additive Manufacturing</option>
                                <option value ="Data-Driven Internet of Things">Data-Driven Internet of Things</option>
                                <option value="Integrated Circuits">Integrated Circuits</option>
                                <option value="Intelligent Energy Systems">Intelligent Energy Systems</option>
                                <option value="Intelligent Human Computer Interaction">Intelligent Human Computer Interaction</option>
                                <option value="Machine Intelligence and Bigdata">Machine Intelligence and Bigdata</option>
                                <option value="Material Sciences">Material Sciences</option>
                                <option value="Metallurgical Engineering">Metallurgical Engineering</option>
                                <option value="Natural Resource Management">Natural Resource Management</option>
                                <option value ="Sensors and Nanoelectronics">Sensors and Nanoelectronics</option>
                                <option value="Signal Processing">Signal Processing </option>
                                <option value="Financial Markets">Financial markets</option>
                                <option value="Intelligent robotics system">Intelligent robotics system</option>
                                <option value="Embedded system">Embedded system</option>
                                <option value ="Modeling of dynamic systems">Modeling of dynamic systems</option>
                            </select>
                        </div>

                    </div>

                </div>

                <button class="btn btn-primary btn-lg btn-block buttons" type="submit">Print</button>
    </div>
    </form>
    </section>

</div>
</div>

<!-- Report Table -->

<!-- Footer -->
<script src="../../js/jquery.min.js"></script>
<script src="../../js/popper.js"></script>
<script src="../../js/bootstrap.min.js"></script>

</body>

</html>