<!doctype html>
<html lang="en">
  <head>
  	<title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>

  <body>
		
		<div class="wrapper d-flex align-items-stretch">
		

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="images">
              <img src="img/college-logo.png" width="150" height="90">
        </div>
              <ul class="nav navbar-nav ml-auto">

                <div class="wrap">
                 <div class="search">
                  <h2>CMRIT DATA REPOSITORY SYSTEM</h2> 
                    </div>
                     </div>
                
                <li class="nav-item active">
                    <a class="nav-link" href="pages/index.html"><i class="fa fa-sign-out fa-2x" aria-hidden="true" style="color: #008080"></i><b>LOG-OUT</b></a>
                    
                </li>
                </ul>
            </div>
          </div>
        </nav>
         <section id="form">
      <div class="container-fluid">
        <h4 class="mb-3">DATA REPOSITORY MODULES</h4>
        
          <label for="description">Choose the repository you want to have access to:</label>
          <!--div id="editor">
            <p>This is the editor content.</p>
        </div-->
        <a href="stu_awards.html" style="color: white">
          <button class="btn btn-primary btn-lg btn-block module-buttons" type="submit">STUDENT</button> </a>
          
          <a href="faculty/Awards" style="color: white">
          <button class="btn btn-secondary btn-lg btn-block module-buttons" style="color: white buttons">FACULTY</button>
        </a>
  </div>

    </section>
        
      </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>