<!DOCTYPE html>
<html>
  <head>
    <title>Transparent HTML Login Form</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/solid.css"
    />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
  </head>

  <body>
    <header>
      <img class="img-logo" src="img/college-logo.png" />
    </header>
    <div class="modal-dialog text-center">
      <div class="col-sm-9 main-section">
        <div class="modal-content">
          <div class="col-12 user-img">
            <img src="img/face.png" />
          </div>
          <div class="col-12 form-input">
            <form action="/register" method="POST">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Faculty Id"
                  name="id"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Password"
                  name="password"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Name"
                  name="name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Department"
                  name="department"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Mail"
                  name="mailId"
                />
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter Phone"
                  name="phoneNumber"
                />
              </div>
              <div class="form-group">
                <input
                  type="date"
                  class="form-control"
                  placeholder="Enter FJoining Date"
                  name="joiningDate"
                />
              </div>
              <button type="submit" class="btn btn-success">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
