<%- include ("../partials/header") %>

  <div class="container-fluid">
    <section id="form">
      <form id="myForm" class="needs-validation" novalidate action="/faculty/fac_consultancy">
        <div class="container-fluid">

          <!-- Header Section -->

          <div class="row data-row">
            <div class="col-md-8 mb-3">
              <h4 class="mb-3 title">Consultancy</h4>
            </div>
            <div class="col-md-4 mb-3 report">
              <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
          </div>
          

          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label class="required">Name of PI</label>
              <input type="text" name="NameofPI" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Names of CO->PI</label>
              <input type="text" name="COtoPI" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
          </div>
          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label for="date" class="required">Sanctioned Date</label>
              <input type="date" name="sanctionedDate" class="form-control" onchange="setDate()">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            
          </div>
          <div class="row data-row">
            
            <div class="col-md-6 mb-3">
              <label class="required">Duration</label>
              <input type="text" name="duration" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Topic</label>
              <input type="text" name="topic" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Grant amount received/Sanctioned amount</label>
              <input type="text" name="amount" class="form-control">
              <div class="invalid-feedback">
                 Please enter valid details.
                </div>
            </div>
            
            <div class="col-md-6 mb-3">
              <label class="required">Objectives</label>
              <input type="text" name="objectives" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Benefit in terms of learning/Skill/Knowledge obtained</label>
              <input type="text" name="benefit" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Name of the Agency to whom submitted</label>
              <input type="text" name="AgencyName" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            


          </div>
          <div class="row data-row">
            
            
            <div class="col-md-4 mb-3">
              <label class="required">Status</label>
              <select name="level" class="custom-select d-block w-100">
                <option value="">Choose...</option>
                <option>Work in Progress</option>
                <option>Completed</option>
                
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="required">COE</label>

              <!-- COE  -->

              <%- include ("../partials/coe") %>

                <div class="invalid-feedback">
                  Please select a valid type.
                </div>
            </div>
          </div>
          <label class="required">Description</label><br>

          <div name="description" id="editor">
            <p>This is the editor content.</p>
            <div class="invalid-feedback">
                  Please enter valid details.
                </div>
          </div>
          <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
              Submit</button>
          </div>
        </div>

      </form>



    </section>

  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>

    <script  type="text/javascript" src="/js/date.js">
    </script>

    </body>

    </html>