<!doctype html>
<html lang="en">
  <head>
    <title>Club Activities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="p-4 pt-5">
          <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);border:10px #008080"></a>
          <header id="stuModule-text"><B>FACULTY MODULE</B></header>
          <ul class="list-unstyled components mb-5">
            <li>
              <a href="/faculty/Awards">Awards</a>
            </li>
            <li class="active">
                <a href="#">Club Activities</a>
            </li>
            
            <li>
              <a href="/faculty/eventsAttended">Events Attended</a>
            </li>
             </ul>
        </div>
      </nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="images">
              <img src="../img/college-logo.png" width="150" height="90">
        </div>
              <ul class="nav navbar-nav ml-auto">
                <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Search here">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fa fa-home fa-2x" aria-hidden="true" style="color: #008080"></i>Home</a>
                    
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><i class="fa fa-sign-out fa-2x" aria-hidden="true" style="color: #008080"></i>Log-Out</a>
                    
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
         <section id="form">
      <div class="container-fluid">
        <h4 class="mb-3">Faculty Club Activity Data Entry</h4>
        <form class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="type">Club Name</label>
              <select class="custom-select d-block w-100" id="type" required="">
                <option value="">Choose...</option>
                <option>ACE</option>
                <option>MindsSpark</option>
                <option>Hakerearth</option>
                <option>CyberNauts</option>
                <option>Moziety</option>
                <option>Rise</option>
                <option>Codechef</option>
                <option>Coding Ninjas</option>
                <option>Google DSC</option>
                <option>GLUG</option>
                <option>Society of Civil Engineers</option>
                <option>ECO</option>
                <option>Electronic Technical Association (ETA)</option>
                <option>TAQ</option>
                <option> Forum for Electrical & Electronics Engineers(FEEE)</option>
                <option>ENSAV</option>
                <option>Society of Mechanical Engineers(SME)</option>
                <option>PROLAB</option>
                <option>Technolix</option>
                <option>Science Club</option>
                <option>Protocol</option>
                <option>Finance & Investment Club</option>
                <option> HR & Communication Club</option>
                <option>Marketing & Entrepreneurship Club</option>
                <option>Technotuners</option>
                <option>Rotract Club</option>
                <option>Connaissance Club</option>
                <option>GreeksForGreeks</option>
              </select>
                
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
              <div class="col-md-6 mb-3">
              <label for="companyName">Topic</label>
              <input type="text" class="form-control" id="companyName" placeholder="" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="companyName">Resource Person</label>
              <input type="text" class="form-control" id="companyName" placeholder="" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="Salary">Designation</label>
              <input type="text" class="form-control" id="Salary" placeholder="" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="Salary">Company</label>
              <input type="text" class="form-control" id="Salary" placeholder="" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="Salary">Event Description</label>
              <input type="text" class="form-control" id="Salary" placeholder="" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="Salary">Event Objective</label>
              <input type="text" class="form-control" id="Salary" placeholder="" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="Salary">Website</label>
              <input type="url" class="form-control" id="Salary" placeholder="" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="date">End Date</label>
              <input type="date" class="form-control" id="date" name="date" placeholder="" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="date">Start Date</label>
              <input type="date" class="form-control" id="date" name="date" placeholder="" value="" required="">
            </div>
            
            
            
            </div>
            <div class="row">
            <div class="col-md-6 mb-3">
              <label for="type">Department</label>
              <select class="custom-select d-block w-100" id="type" required="">
                <option value="">Choose...</option>
                <option>CSE</option>
                <option>ISE</option>
                <option>CSE</option>
                <option>ISE</option>
                <option>ECE</option>
                <option>TCE</option>
                <option>EEE</option>
                <option>CIV</option>
                <option>MECH</option>
                <option>MBA</option>
                <option>MCA</option>
                <option>Basic Sciences</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="type">Semester</label>
              <select class="custom-select d-block w-100" id="type" required="">
                <option value="">Choose...</option>
                <option>I Sem</option>
                <option>II Sem</option>
                <option>III Sem</option>
                <option>IV Sem</option>
                <option>V Sem</option>
                <option>VI Sem</option>
                <option>VII Sem</option>
                <option>VIII Sem</option>
                <option>All sememster</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="Salary">Participant Numbers</label>
              <input type="number" class="form-control" id="Salary" placeholder="" value="" required="">
            </div>
          </div>
          
         <label for="description">Event Description</label><br>
                   <div id="editor">
            <p>This is the editor content.</p>
        </div>
        
          <button class="btn btn-primary btn-lg btn-block buttons" type="submit">Submit</button>  
          <button class="btn btn-secondary btn-lg btn-block buttons" type="reset">Reset</button>
  </div>

    </section>
        
      </div>
    </div>
        <!-- JavaScript for ckeditor -->

        <script src="/ckeditor.js"></script>
        <script>
            CKEDITOR.replace( 'editor' );
        </script>

  <!-- Locally Hosted Javascript -->

  <script src="../js/jquery.min.js"></script>
  <script src="../js/popper.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/form-validation.js"></script>
  </body>
</html>