<%- include ("../partials/header") %>

  <div class="container-fluid">
    <section id="form">
      <form id="myForm" class="needs-validation" novalidate action="/faculty/fac_EE&C">
        <div class="container-fluid">

          <!-- Header Section -->

          <div class="row data-row">
            <div class="col-md-8 mb-3">
              <h4 class="mb-3 title">EE & C</h4>
            </div>
            <div class="col-md-4 mb-3 report">
              <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
          </div>
          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label class="required">Topic</label>
              <input type="text" name="topic" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Duration</label>
              <input type="text" name="duration" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
          </div>

          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label class="required">Company Name</label>
              <input type="text" name="companyName" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Company Address</label>
              <input type="text" name="address" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
          </div>
          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label for="date" class="required">Start Date</label>
              <input type="date" name="startDate" class="form-control" onchange="setDate()">
              <div class="invalid-feedback">
                 Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="date" class="required">End Date</label>
              <input type="date" name="endDate" class="form-control eDate">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
          </div>
          <div class="row data-row">
            <div class="col-md-6 mb-3">
              <label class="required">Resource Person</label>
              <input type="text" name="resourcePerson" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Designation</label>
              <input type="text" name="designation" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Expenditure</label>
              <input type="text" name="expenditure" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Funded By</label>
              <input type="text" name="fundedBy" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Number of Participants</label>
              <input type="text" name="participantsNum" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Objectives</label>
              <input type="text" name="objectives" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Benefit in terms of learning/Skill/Knowledge obtained</label>
              <input type="text" name="benefit" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Semester</label>
              <input type="text" name="semester" class="form-control">
              <div class="invalid-feedback">
                 Please enter valid details.
                </div>
            </div>


          </div>
          <div class="row data-row">
            <div class="col-md-4 mb-3">
              <label class="required">Event</label>
              <select name="activityType" class="custom-select d-block w-100" id="selectBox" onChange="changeFunc();">
                <option value="">Choose...</option>
                <option>Training Programmes</option>
                <option>Guest Lecture</option>
                <option>Expert Lecture(Industry Connect)</option>
                <option>Workshop</option>
                <option>Industry Visit</option>
                <option>NCC</option>
                <option>NSS</option>
                <option>Placement Talk</option>
                <option>Seminars</option>
                <option>FDP</option>
                <option>Symposium</option>
                <option>Conferences</option>
                
                <option value="others">Others</option>
                <input name="activityType" placeholder="Mention Here..." class="form-control other-text" type="text"
                  style="display: none" id="textboxes">
                <div class="invalid-feedback">
                  Please select a valid type.
                </div>
              </select>
            </div>
            
            <div class="col-md-4 mb-3">
              <label class="required">National/International</label>
              <select name="level" class="custom-select d-block w-100">
                <option value="">Choose...</option>
                <option>National</option>
                <option>International</option>
                
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>

            
          </div>
          <label class="required">Event Description</label><br>

          <div name="description" id="editor">
            <p>This is the editor content.</p>
            <div class="invalid-feedback">
                  Please enter valid details.
                </div>
          </div>
          <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
              Submit</button>
          </div>
        </div>

      </form>



    </section>

  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>

    <script  type="text/javascript" src="/js/date.js">
    </script>

    </body>

    </html>