<%- include ("../partials/header") %>

  <div class="container-fluid">
    <section id="form">
      <form id="eventsAttendedForm" class="needs-validation" novalidate="">
        <div class="container-fluid">

          <!-- Header Section -->

          <div class="row data-row">
            <div class="col-md-8 mb-3">
              <h4 class="mb-3 title">Events Attended Data Entry</h4>
            </div>
            <div class="col-md-4 mb-3 report">
              <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
          </div>
          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label class="required">Activity Name</label>
              <input type="text" name="activityName" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Topic</label>
              <input type="text" name="topic" class="form-control">
            </div>
          </div>

          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label class="required">Faculty ID</label>
              <input type="text" name="id" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
              <label for="Salary">Attended At</label>
              <input type="text" name="attendedAt" class="form-control">
            </div>
          </div>
          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label for="date" class="required">Start Date</label>
              <input type="date" name="startDate" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
              <label for="date" class="required">End Date</label>
              <input type="date" name="endDate" class="form-control">
            </div>
          </div>
          <div class="row data-row">
            <div class="col-md-6 mb-3">
              <label>Event Objectives</label>
              <input type="text" name="objective" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
              <label>Event Benefits</label>
              <input type="text" name="benefits" class="form-control">
            </div>

          </div>
          <div class="row data-row">
            <div class="col-md-4 mb-3">
              <label class="required">Activity Type</label>
              <select name="activityType" class="custom-select d-block w-100" id="selectBox" onChange="changeFunc();">
                <option value="">Choose...</option>
                <option>Conference</option>
                <option>Experrt Lecture</option>
                <option>FDP</option>
                <option>Guest Lecture</option>
                <option>Industry Visit</option>
                <option>NCC</option>
                <option>NSS</option>
                <option>Placement Talk</option>
                <option>Seminars</option>
                <option>Webinars</option>
                <option>Symposium</option>
                <option>Training programme</option>
                <option>Workshops</option>
                <option>Invited Talks</option>
                <option value="others">Others</option>
                <input name="activityType" placeholder="Mention Here..." class="form-control other-text" type="text"
                  style="display: none" id="textboxes">
                <div class="invalid-feedback">
                  Please select a valid type.
                </div>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="required">Level</label>
              <select name="level" class="custom-select d-block w-100">
                <option value="">Choose...</option>
                <option>Department</option>
                <option>College</option>
                <option>Inter-College</option>
                <option>University</option>
                <option>State</option>
                <option>National</option>
                <option>International</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="required">COE</label>

              <!-- COE  -->

              <%- include ("../partials/coe") %>

                <div class="invalid-feedback">
                  Please select a valid type.
                </div>
            </div>
          </div>
          <label>Event Description</label><br>

          <div name="description" id="editor">
            <p>This is the editor content.</p>
          </div>
          <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
              Submit</button>
          </div>
        </div>

      </form>



    </section>

  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>

    <!-- JavaScript for ckeditor -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
      integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
      crossorigin="anonymous"></script>
    <script src="/ckeditor.js"></script>
    <script>
      CKEDITOR.replace('editor');
      const element = CKEDITOR.document.getById('editor');
      // let eventsAttendedForm = document.querySelector('#eventsAttendedForm')
      // AJAX
      // console.log(eventsAttendedForm)
      // var formData = new FormData(eventsAttendedForm);
      // const description = element.getText();
      // console.log(description);
      // formData.append("description", description)
      // $("#eventsAttendedForm").ajaxForm({url: '/faculty/eventsAttended', type: 'post'})


      function submitForm(e) {
        // e.preventDefault()
        var formData = new FormData(eventsAttendedForm);
        const description = element.getText();
        console.log(description);
        formData.append("description", description)
        if (formData.get("activityType") === "others") {
          formData.set("activityType", document.querySelector(".other-text").value)
        } else {
          formData.set("activityType", document.querySelector("select[name='activityType']").value)
        }
        var object = {};
        let flag = true;
        formData.forEach(function (value, key) {
          object[key] = value;
          if (value == "")
            flag = false;
        });
        console.log(object)
        if (flag) {
          object.filterDate = new Date();
          let day = object.filterDate.getDate();
          let month = object.filterDate.getMonth();
          let year = object.filterDate.getFullYear();
          if (day <= 5) {
            day = 30;
            month = month == 0 ? 11 : month - 1;
            if (month == 11) {
              year--;
            }
          } else {
            day = 30;
          }
          month++;
          object.filterDate = year.toString() + "-" + month.toString() + "-" + day.toString();
          var json = JSON.stringify(object);


          fetch("/faculty/eventsAttended", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: json
          })
        } else {
          alert('Please fill required fields')
        }

      }

      eventsAttendedForm.addEventListener('submit', (e) => submitForm(e))
    </script>

    </body>

    </html>