<%- include ("../partials/header") %>

  <div class="container-fluid">
    <section id="form">
      <form id="myForm" class="needs-validation" novalidate action="/faculty/fac_VisitorsDatabase">
        <div class="container-fluid">

          <!-- Header Section -->

          <div class="row data-row">
            <div class="col-md-8 mb-3">
              <h4 class="mb-3 title">Visitors Database(Academic/Professional Trainers)</h4>
            </div>
            <div class="col-md-4 mb-3 report">
              <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
          </div>
          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label class="required">Visitor Name</label>
              <input type="text" name="visitorName" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Mobile Number</label>
              <input type="text" name="number" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
          </div>

          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label class="required">Company/College Name</label>
              <input type="text" name="companyName" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Email ID(Official/Personal)</label>
              <input type="text" name="address" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
          </div>
          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label for="date" class="required">Date of Visit</label>
              <input type="date" name="visitDate" class="form-control" onchange="setDate()">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            
          </div>
          <div class="row data-row">
            <div class="col-md-6 mb-3">
              <label class="required">College/Company Address</label>
              <input type="text" name="address" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
           
          </div>
          
          <label class="required">Description</label><br>

          <div name="description" id="editor">
            <p>This is the editor content.</p>
            <div class="invalid-feedback">
                  Please enter valid details.
                </div>
          </div>
          <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
              Submit</button>
          </div>
        </div>

      </form>



    </section>

  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>

    <script  type="text/javascript" src="/js/date.js">
    </script>

    </body>

    </html>