<%- include ("../partials/header") %>

  <div class="container-fluid">
    <section id="form">
      <form id="myForm" class="needs-validation" novalidate action="/faculty/fac_InternshipCell">
        <div class="container-fluid">

          <!-- Header Section -->

          <div class="row">
            <div class="col-md-8 mb-3">
              <h4 class="mb-3 title">Internship Cell</h4>
            </div>
            <div class="col-md-4 mb-3 report">
              <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
          </div>
          
          <div class="row">

            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">Title of Intern Project</label>
              <input type="text" name="projectTitle" class="form-control" required>
              <div class="invalid-feedback">
                Please enter valid details.
              </div>
            </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">Name of the Student</label>
              <input type="text" name="studentName" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">Name of Faculty(Guide)</label>
              <input type="text" name="facultyName" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Duration</label>
              <input type="text" name="duration" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Name of the Company</label>
              <input type="text" name="companyName" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
          </div>
          
          <div class="row">
            
            <div class="col-md-6 mb-3">
              <label class="required">Semester</label>
              <select name="sem" class="custom-select d-block w-100">
                <option value="">Choose...</option>
                <option>I Sem</option>
                <option>II Sem</option>
                <option>III Sem</option>
                <option>IV Sem</option>
                <option>V Sem</option>
                <option>VI Sem</option>
                <option>VII Sem</option>
                <option>VIII Sem</option>
                
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
          </div>
          
          <%- include ("../partials/description") %>


            <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
                Submit</button>
            </div>
        </div>
      </form>



    </section>

  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>
  <!-- JavaScript for ckeditor -->
  <script type="text/javascript" src="/js/date.js"></script>
</body>

</html>