<%- include ("../partials/header") %>

  <!-- Data Entry -->
  <div class="container-fluid">
    <section id="form">
      <form id="placementsForm" class="needs-validation" novalidate="">
        <div class="container-fluid">
          <div class="row data-row">
            <div class="col-md-8 mb-3">
              <h4 class="mb-3 title">Placement Data Entry</h4>
            </div>
            <div class="col-md-4 mb-3 report">
              <a href="/students/search" class="btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>

          </div>
          <div class="row data-row">
            <div class="col-md-6 mb-3">
              <label class="required" class="required">Student Name</label>
              <input type="text" name="studentName" class="form-control">
              <div class="invalid-feedback">
                Valid Student name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">USN</label>
              <input type="text" class="form-control" name="usn">
              <div class="invalid-feedback">
                Valid USN is required.
              </div>
            </div>
          </div>
          <div class="row data-row">
            <div class="col-md-6 mb-3">
              <label class="required">Company Name</label>
              <input type="text" class="form-control" name="companyName">
              <div class="invalid-feedback">
                Valid company name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Salary</label>
              <input type="text" class="form-control" name="salary">
              <div class="invalid-feedback">
                Valid Salary is required.
              </div>
            </div>
          </div>
          <div class="row data-row">
            <div class="col-md-6 mb-3">
              <label class="required">Drive Date</label>
              <input type="date" class="form-control" name="date" onchange="setDate()">
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Drive Type</label>
              <select class="custom-select d-block w-100" name="driveType">
                <option value="">Choose...</option>
                <option>On Campus</option>
                <option>Off Campus</option>
              </select>

              <div class="invalid-feedback">
                Placement Drive required.
              </div>
            </div>

          </div>
          <div class="row data-row">
            <div class="col-md-6 mb-3">
              <label class="required">Company Type</label>
              <select class="custom-select d-block w-100" name="companyType">
                <option value="">Choose...</option>
                <option>Indian Company</option>
                <option>Foreign Company</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid company name.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Type</label>
              <select name="type" class="custom-select d-block w-100" id="type" required="">
                <option value="">Choose...</option>
                <option>Placement</option>
                <option>Internship</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
          </div>
          <div class="row data-row">
            <div class="col-md-4 mb-3">
              <label for="type" class="required">Department</label>
              <select name="department" class="custom-select d-block w-100">
                <option value="">Choose...</option>
                <option>CSE</option>
                <option>ISE</option>
                <option>ECE</option>
                <option>TCE</option>
                <option>EEE</option>
                <option>CIV</option>
                <option>MECH</option>
                <option>MBA</option>
                <option>MCA</option>
                <option>Basic Sciences</option>
              </select>

            </div>

            <div class="col-md-4 mb-3">
              <label class="required">COE</label>
              <!-- COE -->
              <%- include ("../partials/coe") %>

                <div class="invalid-feedback">
                  Please select a valid type.
                </div>

            </div>
            <div class="col-md-4 mb-3">
              <label class="required">Submission Date</label>
              <input type="date" class="form-control eDate" name="filterDate">
              <div class="invalid-feedback">
                Please select a valid date.
              </div>
            </div>
          </div>
          <label for="description">Description (Optional)</label>
          <div name="description" id="editor">
            <p>This is the editor content.</p>
          </div>
          <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
              Submit</button>

          </div>
        </div>
      </form>
    </section>


  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>


    <!-- Script for submiting form -->

    <script>
    document.addEventListener("DOMContentLoaded", function (event) {

                const setMaxDate = () => {
                    const dateControl = document.querySelectorAll('input[type="date"]');
                    let today = new Date().toISOString().slice(0, 10);
                    dateControl.forEach(date => {
                        date.setAttribute('max', today);
                    })
                }
                setMaxDate();

                
            });
            const setDate = () => {
                    let sDate = document.getElementsByName('date')[0].value;
                    let eDate = document.getElementsByName('filterDate')[0];
                    eDate.setAttribute('min', sDate);

                }
      CKEDITOR.replace('editor');
      const element = CKEDITOR.document.getById('editor');

      function submitForm(e) {
        var formData = new FormData(placementsForm);
        const description = element.getText();
        console.log(description);
        formData.append("description", description)
        var object = {};
        formData.forEach(function (value, key) {
          object[key] = value;
        });
        var json = JSON.stringify(object);
        console.log(json);
        fetch("/students/placement", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: json
        })
      }
      placementsForm.addEventListener('submit', (e) => submitForm(e))
    </script>
    </body>

    </html>