<%- include ("../partials/header") %>

    <div class="container-fluid">
        <section id="form">
            <form id="eventsAttendedForm" class="needs-validation" novalidate="">
                <div class="container-fluid">
                    <div class="row data-row">
                        <div class="col-md-8 mb-3">
                            <h4 class="mb-3 title">Event Attended Data Entry</h4>
                        </div>
                        <div class="col-md-4 mb-3 report">
                            <a href="/students/search" class="btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="col-md-6 mb-3">
                            <label class="required">Activity Name</label>
                            <input type="text" name="activityName" class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="required">Topic</label>
                            <input type="text" name="topic" class="form-control">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="col-md-6 mb-3">
                            <label class="required">USN</label>
                            <input type="text" name="usn" class="form-control">
                            <div class="invalid-feedback">
                                Valid USN is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="required">Attended At</label>
                            <input type="text" name="attendedAt" class="form-control">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="col-md-6 mb-3">
                            <label class="required">Start Date</label>
                            <input type="date" name="startDate" class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="required">End Date</label>
                            <input type="date" class="form-control" name="endDate">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="col-md-6 mb-3">
                            <label class="required">COE</label>
                            <!-- COE -->
                            <%- include ("../partials/coe") %>

                                <div class="invalid-feedback">
                                    Please select a valid type.
                                </div>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="required">Level</label>
                            <select name="level" class="custom-select d-block w-100">
                                <option value="">Choose...</option>
                                <option>International</option>
                                <option>University</option>
                                <option>Inter College</option>
                                <option>State</option>
                                <option>Department</option>
                                <option>College</option>
                                <option>National</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid type.
                            </div>
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="col-md-6 mb-3">
                            <label class="required">Activity Type</label>
                            <select class="custom-select d-block w-100" name="activityType" id="selectBox" required=""
                                onChange="changeFunc();">
                                <option value="">Choose...</option>
                                <option>Conference</option>
                                <option>Expert Lecture</option>
                                <option>FDP</option>
                                <option>Guest lecture</option>
                                <option>Industry visit</option>
                                <option>NCC</option>
                                <option>NSS</option>
                                <option>Placement Talk</option>
                                <option>Seminars</option>
                                <option>Webinars</option>
                                <option>Symposium</option>
                                <option>Training Programme</option>
                                <option>Workshop</option>
                                <option>Invited Talk</option>
                                <option value="others">Others</option>
                            </select>
                            <input name="activityType" placeholder="Mention Here..." class="form-control other-text"
                                type="text" style="display: none" id="textboxes">
                            <div class="invalid-feedback">
                                Please select a valid category.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="required">Objective</label>
                            <input name="objective" type="text" class="form-control">

                        </div>
                    </div>
                    <div class="row data-row">

                        <div class="col-md-4 mb-3">
                            <label class="required">Benefits</label>
                            <input type="text" class="form-control" name="benefits" id="benefits" placeholder=""
                                value="" required="">
                        </div>

                        <!-- Department Field -->

                        <div class="col-md-4 mb-3">
                            <label class="required">Department</label>
                            <select name="department" class="custom-select d-block w-100">
                                <option value="">Choose...</option>
                                <option>CSE</option>
                                <option>ISE</option>
                                <option>ECE</option>
                                <option>TCE</option>
                                <option>EEE</option>
                                <option>CIV</option>
                                <option>MECH</option>
                                <option>MBA</option>
                                <option>MCA</option>
                                <option>Basic Sciences</option>
                            </select>

                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="required">Submission Date</label>
                            <input type="date" class="form-control" name="filterDate">
                            <div class="invalid-feedback">
                                Please select a valid date.
                            </div>
                        </div>

                    </div>




                    <label>Description</label>
                    <div name="description" id="editor">
                        <p>This is the editor content.</p>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block buttons" type="submit">Submit</button>
                </div>
            </form>
        </section>


    </div>

    <!-- Footer -->


    <%- include ("../partials/footer") %>

        <script>
            CKEDITOR.replace('editor');
            const element = CKEDITOR.document.getById('editor');

            function submitForm(e) {
                // e.preventDefault()
                var formData = new FormData(eventsAttendedForm);
                const description = element.getText();
                console.log(description);
                formData.append("description", description)
                if (formData.get("activityType") === "others") {
                    formData.set("activityType", document.querySelector(".other-text").value)
                } else {
                    formData.set("activityType", document.querySelector("select[name='activityType']").value)
                }
                var object = {};
                formData.forEach(function (value, key) {
                    object[key] = value;
                });
                var json = JSON.stringify(object);
                console.log(json);
                fetch("/students/eventsAttended", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: json
                })
            }

            eventsAttendedForm.addEventListener('submit', (e) => submitForm(e))
        </script>
        </body>

        </html>